html {
     font-size: 10px;
 }
body {
     font-size: 1.6rem;
     font-family: 'Open Sans', Verdana, sans-serif;
 }

h1{
    font-family:'poppins';
    font-size: 44px;
    font-style: normal;
    font-weight: 700;
    line-height: 54px;
}

h2{
    font-size: 34px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

h3{
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 34px;

}

h4{
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;

}

h5{
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 26px;
}