.button{
    /*  padding: 10px 25px 13px; */
     width: 104.914px;
     height: 46px;
     flex-shrink: 0;
     font-size: 16px;
     font-style: normal;
     font-weight: 600;
     line-height: normal;
     text-align: center;
     font-family: Open Sans;
     border-radius: 4px;
     cursor: pointer;
     transition: all 1s;

}

.button_bordered{
     background:$color-light;
     border: 1px solid $color-tag;
     &:hover{
          background: $color-hovered;
          border-width: 0;
     }
}

.button_colored{
     background: $color-primary;
     color: $color-light;
     border-width: 0;
     &:hover{
          background: $color-aditional;
     }
}